canvas
{
    margin: auto;
    display: block;
}

div
{
	display: flex;
	align-items: center;
	gap: 8px;
}

p
{
	font-size: 1.1vw;
}

.smallText
{
	font-size: 0.75vw;
}

.bigText
{
	font-size: 1.35vw;
}

.loadingText
{
	font-size: 8vw;
}

.hoverReveal:hover + .hidden
{
	display: block;
}

.hidden
{
	display: none;
}

input
{
	width: 2vw;
	height: 1vh;
	font-size: min(1vw, 1vh);
}

button
{
	width: min(2vw, 2vh);
	height: min(2vw, 2vh);
}

.noOutline
{
	outline: none;
}
